.content{
    position: absolute;
    top: 60px;
    left: 75px;
    background-color: #F8F8F8;
    width: calc(100% - 75px);
    height: calc(100% - 60px);
    padding: 15px 15px 0px 11px;
    overflow-y: auto;
}