.card{
    height: 250px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #4E17074D;
    position: relative;
    margin-bottom: 20px;
}

.card.big{
    height: 520px;
}

.publish{
    position: absolute;
    top: 12px;
    right: 10px;
}

.card img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: 0;
    color: white;
    left: 0px;
    background: #0D0D0D66;
    border-radius: 20px;
    padding: 1px 8px 3px 9px;
    width: 100%;
}

.info p {
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
    color: #F8F8F8;
}

.info h6 {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #F8F8F8;
}